body {
  -ms-overflow-style: 5px;
  scrollbar-width: 5px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(174 186 193 / 20%);
}

.chat_body::-webkit-scrollbar-thumb {
  background-color: rgb(53, 65, 73);
}

.sidbar_card_caret_icon {
  right: -36px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.sidebar_card:hover .sidbar_card_caret_icon {
  right: -6px;
  opacity: 1;
  visibility: unset;
  z-index: unset;
}

.chat_body_wrapper {
  background: url("../public/assets/images/whatsapp_bg.png");
}

.chat_body {
  scroll-behavior: smooth;
}

.chat_card::after {
  content: "";
  position: absolute;
  top: 15%;
  right: 97%;
  margin-top: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: #202c33 transparent transparent transparent;
}

.chat_card_wrapper.chat_receiver {
  justify-content: flex-end;
}

.chat_card_wrapper.chat_receiver .chat_card {
  background-color: #005c4b;
}

.chat_card_wrapper.chat_receiver .chat_card::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 97%;
  margin-top: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: #005c4b transparent transparent transparent;
}
