body,
html {
  -ms-overflow-style: 5px;
  scrollbar-width: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #111b21;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(174 186 193 / 20%);
  background-color: #374045;
}

.chat_body::-webkit-scrollbar-thumb {
  background-color: rgb(53, 65, 73);
}

.sidbar_card_caret_icon {
  right: -36px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.sidebar_card:hover .sidbar_card_caret_icon {
  right: -6px;
  opacity: 1;
  visibility: unset;
  z-index: unset;
}

.chat_body_wrapper {
  background: url("../public/assets/images/whatsapp_bg.png");
}

.chat_body {
  scroll-behavior: smooth;
}

.chat_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  border-color: #202c33 transparent transparent transparent;
}

.chat_card_wrapper.chat_receiver {
  justify-content: flex-end;
}

.chat_card_wrapper.chat_receiver .chat_card {
  background-color: #005c4b;
}

.chat_card_wrapper.chat_receiver .chat_card::after {
  content: "";
  position: absolute;
  left: 100%;
  border-width: 12px;
  border-style: solid;
  border-color: #005c4b transparent transparent transparent;
}

.profile_pic_overlay {
  visibility: hidden;
  z-index: -1;
  opacity: 0;
}

.profile_pic_wrapper:hover .profile_pic_overlay {
  visibility: visible;
  z-index: 10;
  opacity: 1;
}

.profile_pic_wrapper {
  transform: scale(0);
}

.sidebarLeftProfile.active .profile_pic_wrapper {
  transform: scale(1);
}

.sidebar_left_info {
  opacity: 0;
  transform: translateY(-100px);
}

.sidebarLeftProfile.active .sidebar_left_info {
  opacity: 1;
  transform: translateY(0);
}

.sidebar_left_community_info {
  opacity: 0;
  transform: translateY(-20px);
}

.sidebarLeftProfile.active .sidebar_left_community_info {
  opacity: 1;
  transform: translateY(0);
}

.sidebarleft_header_text {
  opacity: 0;
  transform: translateX(-50px);
}

.sidebarLeftProfile.active .sidebarleft_header_text {
  opacity: 1;
  transform: translateX(0);
}

.sidebar_menu {
  box-shadow: 0 2px 5px 0 rgba(11, 20, 26, 0.26),
    0 2px 10px 0 rgba(11, 20, 26, 0.16);
}
